.customizeBtn {
    /* color: black; */
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 0px;
  }

.btnAlignment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
  background-color: blue;
}

